@{
    ViewBag.Title = "Linkedin SocialOAuth";
}

<h2>Auth With Token</h2>
<a href="https://www.linkedin.com/uas/oauth/authorize?@ViewBag.UrlParameters">
    <img alt="" src="@Url.Content("~/Content/themes/base/images/linkedin-small.png")"/></a>
<br />
