@{
    ViewBag.Title = "Facebook";
}
<h2>
    Facebook OAuth</h2>
<a href="https://www.facebook.com/dialog/oauth?@ViewBag.UrlParameters">
    <img src="@Url.Content("~/Content/themes/base/images/fblogin.png")"/>
</a>
