@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    <h4>
        TEST FACEBOOK, LINKEDIN</h4>
    <br />
    <a href="../Facebook/">Facebook</a> | <a href="../Linkedin/">Linkedin</a> | 
     <a href="../Twitter/">Twitter</a>
</p>
