@{
    ViewBag.Title = "Twitter";
}
<h2>
    Twitter OAuth</h2>
<a href="http://twitter.com/oauth/authorize?@ViewBag.UrlParameters">
    <img src="@Url.Content("~/Content/themes/base/images/sign-in-with-twitter-btn.png")"/>
</a>
<br />
<br />
